@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("materials/bg.jpg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px 100vw);
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.65;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 18px;
    padding: 0 30px;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 8px;
    background-color: #2d2d2d;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgb(157 156 156 / 13%);
    border-radius: 5px;
    color: white;
    border: none;
    border: 1px solid rgba(246, 238, 238, 0.5);
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 4px 29px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 12px 101px 8px 14px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    background-color: #00000059;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    color: white;
}

.secImg {
    position: relative;
}

.secImg img {
    padding: 10px;
    width: 35vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 30vw;
    position: absolute;
    top: 127px;
    right: 15px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.third .secImg video {
    width: 22vw;
    position: absolute;
    top: 94px;
    right: 40px;
    padding-right: 68px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: rgb(37, 36, 36);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 21px;
    max-width: 64vw;
    margin: 12px auto;
    cursor: pointer;
}

.hero-bottom {
    color: white;
    text-align: center;
    justify-content: center;
}

.hero-bottom h2 {
    padding-bottom: 20px;
    font-weight: 500;
}

.hero-button-bottom input {
    padding: 12px 101px 8px 14px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    background-color: #00000059;
    border: 1px solid rgba(246, 238, 238, 0.5);
    margin-bottom: 36px;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1310px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

     

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }
}

@media screen and (max-width:1310px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}


@media screen and (max-width: 1307px) {
    .secImg video {
        width: 218px;
        height: auto;
        top: 94px;
        position: absolute;
        right: 55px;
    }

    .third .secImg video {
        width: 191px;
        height: auto;
        position: absolute;
        top: 75px;
        right: -3px;
    }
}